{% extends 'base.html' %}
{% block title%}CruzPort | Home {% endblock %}
{% block content %}
{% load staticfiles %}
<section class="hero is-link has-text-centered is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Welcome to CruzPort</h1>
      <h2 class="subtitle is-4">My personal portfolio powered by <a href="http://Bulma.io">Bulma</a> and <a href="http://djangoproject.com">Django</a></h2>
    </div><!-- end of container -->
  </div><!-- end of hero body -->
</section><!-- end of hero section -->
<section class="section">
  <div class="container">
    <div class="field has-text-centered">
      <img style="border-radius:50%" alt="Picture of Alexis Cruz, Creator of CruzPort" src="{% static 'linkedin.jpeg' %}"/>
      <br/>
      <br/>
      <h2 class="subtitle">Alexis Cruz</h2>
      <a class="button is-primary" href="{% static 'Alexis_Cruz_Resume.pdf' %}">Resum&eacute; &nbsp;<i class="far fa-file-pdf"></i></a>
      <a class="button is-info" href="mailto:mr.alexiscruz@gmail.com">Email&nbsp;<i class="fas fa-envelope"></i></a>
    </div><!-- End of field -->
  </div><!-- End of container -->
</section><!-- End of section -->
<section class="section has-text-centered">
  <h2 class="title">About Me</h2>
  <h3 class="subtitle">How I came about, my interests and goals.</h3>
  <div class="content">
    <p class="has-text-centered">My name is Alexis Cruz and I am currently a senior at the New York City College of Technology
      majoring in Computer Systems. I'm studying to beocme a software engineer, but I also enjoy developing websites and tinkering with
      microcontrollers/computers such as an Arduino or Raspberry Pi. My first programming langauge was Java, which I learned in school, but from
      there I went on to learn Python on my own and other langauges that I needed in an application. My current interests are learning, understanding and creating algorithms. I frequently visit websites such as HackerRank, Leetcode and ProjectEuler to work on algorithms. I've also gotten back into web development, which is why I created this website.
      My future goals are to work in a tech company developing some kind of groundbreaking technology for accessibility. Assitive Technology
      users have limitied websites that accomedate their needs. I hope that one day I can be a part of making it easier for them to access the
      web's information.</p>
  </div>
</section>
<section class="section has-text-centered">
  <h2 class="title">About this website</h2>
  <div class="content">
    <p>This is my frist project using Bulma, a Responsive CSS framework and Django a Python web developement framework.
      Both framework's concepts are easy to follow and really make it easy for the developer to get projects started and running.
      This website is still in development, the more i learn the more features get added to this website.
    </p>
  </div>
</section>
{% endblock %}

