{% extends 'base.html' %}
{% block title%}CruzPort | Home {% endblock %}
{% block content %}
{% load staticfiles %}
<section class="hero is-link has-text-centered is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Welcome to CruzPort</h1>
      <h2 class="subtitle is-4">My personal portfolio powered by <a href="http://Bulma.io">Bulma</a> and <a href="http://djangoproject.com">Django</a></h2>
    </div><!-- end of container -->
  </div><!-- end of hero body -->
</section><!-- end of hero section -->
<section class="section">
  <div class="container">
    <div class="field has-text-centered">
      <img style="border-radius:50%" alt="Picture of Alexis Cruz, Creator of CruzPort" src="{% static 'linkedIn.jpeg' %}"/>
      <br/>
      <br/>
      <h2 class="subtitle">Alexis Cruz</h2>
      <a class="button is-primary" href="{% static 'Alexis_Cruz_Resume.pdf' %}">Resum&eacute; &nbsp;<i class="far fa-file-pdf"></i></a>
      <a class="button is-info" href="mailto:mr.alexiscruz@gmail.com">Email&nbsp;<i class="fas fa-envelope"></i></a>
    </div><!-- End of field -->
  </div><!-- End of container -->
</section><!-- End of section -->
<section class="section has-text-centered">
  <h2 class="title">About Me</h2>
  <h3 class="subtitle">Who I am and what my interests are.</h3>
  <div class="content">
    <p class="has-text-centered">My name is Alexis Cruz and I am currently a senior at the New York City College of Technology
      majoring in Computer Systems. I'm studying to beocme a software engineer, but I also enjoy developing websites and tinkering with
      things that I don't really understand. My first programming langauge was Java, which I learned throughout college and from
      there I went on to learn Python and the Django framework along with other languages such as HTML/CSS, SQL, XML, BASH, and LaTex. One
      of my biggest interests is web accessibility. Developing properly structured and semantic websites so that people with disabilties
      can easily access them with their assistive technology. I believe that adding accessibility to your websites adds a degree
      of personality, it shows that you value and understand peoples needs and want to accommodate them. I've had the pleasure of interning
      over the summer at Usablenet. Usablenet is a technology and service company for digital accessibility; while there I worked
      closely with people of the disability community testing and going through use cases on various website for clients such as
      Toyota, Fresh Direct, Golden Corral and JC Penny. I learned that no user and assistive technology are the same and that there's
      a lot that goes into making a website accessible.
      </p>
  </div>
</section>
<section class="section has-text-centered">
  <h2 class="title">About this website</h2>
  <div class="content">
    <p>This is my frist project using Bulma, a Responsive CSS framework and Django a Python web developement framework.
      Both framework's concepts are easy to follow and really make it easy for the developer to get projects started and running.
      This website is still in development and I would like to add accesibility and javascript animations.
    </p>
  </div>
</section>
{% endblock %}

